doctype html
html
  head
    style.
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
      .urgent {
        background-color: #fbb1b1;
      }
  body
      each categoryObj, name in categories
        if categoryObj.length > 0
          h2= toTitleCase(name)
          table(class=name)
            tr
              th Name of Bill
              th Comments
              th Days Left to Pay
              if name === "paid"
                th Proof uploaded
              else 
                th Link to Pay
            each item in categoryObj
              tr
                td= item.config.name || "ERROR"
                td= #{item.config.emailBody} || "ERROR"
                td= item.daysLeft || "ERROR"
                if name === "paid"
                  td= item.paidBillDetails ? item.paidBillDetails[0] ? getFileName(item.paidBillDetails[0].proofLocation) : "": ""
                else 
                  td
                    if item.paymentLink
                      a(href=item.paymentLink) Pay Now
                    else
                      span.error ERROR
        else
          h2= toTitleCase(name)
          p No data available for #{name}.
